/* scrollbar */
::-webkit-scrollbar{width:6px;}
::-webkit-scrollbar-track{background-color:transparent;}
::-webkit-scrollbar-thumb{border-radius:6px;}

/* disable selection */
.noSelect{
  -webkit-touch-callout:none!important;
  -webkit-user-select:none!important;
  user-select:none!important;}

html,
body{
  position:relative;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow:hidden;}

textarea{
  overflow:hidden;
  margin-top:25px;
  outline:none;
  resize:none;
  border:0;
  box-sizing:border-box;
  padding:5px;
  width:100%;}

textarea::-webkit-scrollbar{width:0;}

body{
  font-size:18px;
  font-family:Arial,sans-serif;
  color:rgb(235,235,235);
  background-color:rgb(50,50,50);}

#app{
  overflow-x:hidden;
  overflow-y:scroll;
  scrollbar-gutter:stable both-edges;
  height:100%;}

#app::-webkit-scrollbar-thumb{
  background-color:rgb(145,145,145);}

#app .wrap{
  width:calc(100% - 20px);
  max-width:300px;
  margin:auto;}